.aboutUsContainer{
  height: calc(100vh - 110px);
}

.imageWrapper {
  width: 100%;
  height: 80vh;
  border-radius: 14px;
  background-image: url("src/assets/img/about-us-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: absolute;
  right: -30px;
  top: 10%;
  height: 80%;
  filter: drop-shadow(0 0 0.5rem rgb(133, 133, 133));
  z-index: 2;
}

.aboutUsContentWrapper {
  display: flex;
  align-items: center;
  background-color: var(--orange-300);
  border-radius: 14px;
  padding: 2rem 0;
  filter: drop-shadow(0 0 0.5rem rgb(133, 133, 133));
  z-index: 1;
}

.aboutUsContent {
  padding: 0 2rem 0 5rem;
}

.header {
  font-family: var(--font-opensans);
  font-size: clamp(1.8rem, 1vh, 2.4rem);
  font-weight: 700;
  margin-bottom: 2rem;
}

.subheader {
  font-family: var(--font-poppins);
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.highlightedText {
  font-family: var(--font-playfair);
  font-size: 2.2rem;
  font-weight: 500;
  font-style: italic;
  margin: 0 0.5rem;
  line-height: 1.6;
}

.aboutUsText {
  font-family: var(--font-poppins);
  font-size: 1.2rem;

}

.increaseSizeOnHover:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.readMoreButton{
  margin: 0 !important;
  padding: 0 !important;
  margin-top: -15px !important;
}

.goToComment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
}

.goToComment > p{
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .aboutUsContentWrapper {
    align-items: start;
    z-index: 1;
  }

  .imageWrapper {
    width: 50vh;
    height: 100%;
    margin: 0 auto;
    margin-bottom: -20px;
    position: relative;
    right: 0;
    top: 0;
    min-height: 150px;
    width: 50%;
    z-index: 2;
  }

  .header {
    margin-top: 20px;
  }

  .header,
  .subheader,
  .aboutUsText {
    text-align: center;
  }
}


