.container {
    border-radius: 7px;
    padding: 16px 8px;
    background-color: var(--gray-300);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 8px;
}

.todayButton {
    border: 0;
    background-color: var(--orange-500);
    border-radius: 7px;
    height: 36px;
    min-width: 96px;
}

.todayButton:hover {
    background-color: var(--orange-600);
}

.todayButton:active {
    filter: drop-shadow(0 0 2px #828282)
}

.calendarButton {
    width: 72px;
    height: 72px;
}

.calendarButton:hover {
    background-color: var(--orange-300);
    border-radius: 50%;
}

.modalContent {
    max-width: 290px !important;
    background-color: rgba(0, 0, 0, .0001) !important;
    border: 0;
}

.modalContent>.modal-body {
    display: flex;
    justify-content: center;

}


.body {
    position: relative;
}

.table {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.table>thead>tr>th {
    height: 50px;
    width: 200px;
    min-width: 200px;
    text-align: center;
    font-weight: 300;
}

.table>tbody>tr>td {
    position: relative;
    height: 128px;
    width: 200px;
    min-width: 200px;
    border: 1px solid #f2f2f2;
}

.hourCell {
    border: none !important;
    width: 100px !important;
    min-width: 100px !important;
}

.hourContainer {
    position: absolute;
    top: -10px;
    right: 10px;
    text-wrap: nowrap;
}

.appointmentBox {
    position: absolute;
    height: 128px;
    background-color: rgba(254, 110, 0, 0.6);
    z-index: 2;
    border-radius: 7px;
    width: 200px;
    cursor: pointer;
}

.appointmentBoxPacient {
    font-size: 1.4rem;
    padding: 0.5rem 1rem 0 1rem;
    margin-bottom: 0;
    font-weight: 500;
}

.appointmentBoxTime {
    font-size: 1.2rem;
    padding: 0 1rem;
    margin-bottom: 0;
    font-weight: 300;
}

.deleteButton {
    width: 100%;
    border: 2px solid #DC3545;
    color: #DC3545;
    font-weight: 500;
    margin: 16px auto;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.deleteButton:hover {
    background-color: #DC3545;
    color: #FFF;
}

.deleteButton:active {
    filter: drop-shadow(0 0 4px #9c9c9c);
}