.container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    min-height: 80vh;
    margin: 16px 32px;
}

.sideA {
    max-width: 180px;
    border-radius: 7px;
    height: 80vh;
    filter: drop-shadow(0 0 6px #b6b5b5);

}

.sideB {
    width: 100%;
    padding: 16px 8px;
    background-color: var(--gray-300);
    overflow-y: scroll;
    border-radius: 7px;
    height: 80vh;
    filter: drop-shadow(0 0 6px #b6b5b5);
}

.sideMenu {
    background-color: var(--gray-300);
    border-radius: 7px;
    height: 80vh;
    padding: 8px;
}

.sideMenuHeader {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 16px;
    margin-bottom: 32px;
}

.sideMenuItems {
    margin: 0;
    padding: 0;
}

.sideMenuItem {
    font-size: 1.6rem;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 16px 16px 36px;
    cursor: pointer;
    margin: 8px 0;
}

.sideMenuItem:hover {
    background-color: var(--orange-300);
}

.selected {
    color: var(--orange-500);
    font-weight: 600;
    border-left: 3px solid var(--orange-500);
}

.welcomeImage {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% !important;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: start;
    }

    .sideA {
        max-width: none;
        height: auto;
        width: 100%;
    }


    .sideMenuHeader {
        display: none;
    }

    .sideMenu {
        height: auto;
        width: 100%;
    }

    .sideMenuItem {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}