.container {
  display: flex;
  background-color: #fff;
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 7px;
}

.sideA {
  width: 250px;
}

.sideB {
  flex-grow: 1;
  border-right: 3px solid #f2f2f2;
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
  border-left: 2px solid #f2f2f2;
  border-radius: 0 7px 7px 0;
  height: 100%;
  max-width: 1200px;
  overflow: scroll;
}

.sideBHeader {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: 64px;
  border-bottom: 3px solid #f2f2f2;
  gap: 1rem;
  width: 1150px;
}

.sideBBody {
  position: relative;
}

.controlButtons {
  display: flex;
}

.button {
  background-color: transparent;
  padding: 0.5rem;
  border: 0;
}

.todayButton {
  border: 2px solid var(--main-color);
  border-radius: 24px;
  padding: 0.1rem 1.5rem !important;
  background-color: var(--main-color) !important;
}

.todayButton:hover {
  background-color: var(--main-color);
}

.todayButton:active {
  background-color: #c0621b;
}

.table {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.tableHeader>tr>th {
  height: 64px;
  width: 150px;
  min-width: 150px;
  text-align: center;
}

.tableBody>tr>td {
  position: relative;
  height: 128px;
  width: 150px;
  min-width: 150px;
  border: 1px solid #f2f2f2;
}

.hourCell {
  position: absolute;
  top: -64px;
  left: 45px;
  border: none !important;
  width: 100px !important;
  min-width: 100px !important;
}

.appointmentBoxContainer {
  position: absolute;
  z-index: 2;
  display: flex;
  gap: 1rem;
}

.appointmentBox {
  width: 150px;
  background-color: #fdb177;
  border: 3px solid var(--main-color);
  border-radius: 7px;
  cursor: pointer;
}

.appointmentBoxPacient {
  font-size: 1rem;
  padding: 0.5rem 1rem 0 1rem;
  margin-bottom: 0;
  font-weight: 500;
}

.appointmentBoxTime {
  font-size: 0.8rem;
  padding: 0 1rem;
  margin-bottom: 0;
  font-weight: 300;
}

.toastContainer>div {
  max-width: 350px !important;
  background-color: #fffbf5;
}

.toastContainer>div>div {
  background-color: #fffbf5 !important;
}

.toastContainer>div>div>button:focus {
  box-shadow: none;
}

.menuBodyRow {
  border-bottom: 1px solid #f2f2f2;
  background-color: transparent;
}

.menuBodyRow>td {
  padding: 0.5rem 0 !important;
  background-color: transparent;
  vertical-align: middle;
}

.menuBodyCellLabel {
  font-weight: 500;
}

.button {
  border: 0;
  background-color: transparent;
  padding: 3.5px;
  margin-left: 12px;
}

@media (max-width: 576px) {
  .sideA {
    display: none;
  }

  .container {
    width: 100%;
  }
}