.calendar {
  background-color: transparent;
  padding: 0 1rem;
  max-width: 250px;
}

.calendarHeader {
  padding: 1.5rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 0.5px solid #ababab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.month {
  vertical-align: middle;
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.controlButtons {
  display: inline-flex;
  gap: 1.5rem;
  margin-left: 2rem;
  font-size: 2rem;
}

.controlButtons button {
  border: 0;
  background-color: transparent;
  vertical-align: middle;
}

.tableHeader {
  padding-bottom: 1rem;
  text-align: center;
}

.tableHeader th {
  padding-bottom: 1rem;
}

.tableCell {
  padding: 0 0.5rem;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
}

.tableCell:hover {
  cursor: pointer;
  font-weight: 600;
  filter: drop-shadow(0 0 2px #e0dfdf);
}

.inactive {
  color: rgb(196, 196, 196);
}

.isToday {
  background-color: var(--main-color-lighter);
  font-weight: 600;
  border-radius: 50%;
}
