.calendarContainer {
  max-width: 250px;
  border: 3px solid #eaeaea;
  padding: 0;
  border-radius: 7px;
}

.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f2f2f2;
}

.header {
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  margin-bottom: 0;
}

.calendarTable {
  width: 100%;
}

.calendarTableHeader {
  background-color: #f2f2f2;
  border-bottom: 3px solid #eaeaea;
}

.tableRow {
  padding: 0 1rem;
}

.tableCell {
  height: 38px;
  text-align: center;
  vertical-align: middle;
}

.fadeDayNumber {
  color: #eaeaea;
}

.currentDate {
  background-color: var(--main-color);
  border-radius: 50%;
  color: var(--black-color);
}

.buttonHeader {
  border: 0;
  background-color: transparent;
}
