.button {
  border: 0;
  background-color: transparent;
  min-width: 64px;
  padding: 10px 16px;
  margin: 8px;
  text-wrap: nowrap;
  vertical-align: middle;
  font-size: 1.6rem;
}

.button.disabled {
  background-color: var(--gray-400);
  cursor: not-allowed;
}

.button.disabled:hover,
.button.disabled:active {
  background-color: var(--gray-400);
}

.buttonLG {
  min-height: 44px;
}

.buttonMD {
  min-height: 36px;
}

.buttonSM {
  min-height: 32px;
}

.callToActionButton {
  border: 3px solid var(--orange-500);
  background-color: var(--orange-500);
  border-radius: 7px;
}

.callToActionButton:hover {
  background-color: var(--orange-600);
  border-color: var(--orange-600);
}

.callToActionButton:active {
  background-color: var(--orange-700);
  border-color: var(--orange-700);
}

.secondaryButton {
  background-color: var(--orange-300);
  border: 3px solid var(--orange-400);
  border-radius: 7px;
}

.secondaryButton:hover {
  background-color: var(--orange-400);
  border-color: var(--orange-400);
}

.secondaryButton:active {
  background-color: var(--orange-500);
  border-color: var(--orange-500);
}