.card {
  border-radius: 14px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  max-height: 50%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 14px;
  margin: 1rem auto;
  background-color: transparent;
}

.imageContainer img {
  width: 100%;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-size: large;
  font-weight: 600;
  background-color: transparent;
}

.subheader {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-style: italic;
  font-size: medium;
  font-weight: 400;
  background-color: transparent;
}

.cardContent {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  font-size: small;
  font-weight: 300;
  background-color: transparent;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.body {
  background-color: transparent;
  max-height: 30%;
  overflow: hidden;
  margin-bottom: 2rem;
}

.footer {
  vertical-align: bottom;
  text-align: center;
  background-color: transparent;
  height: auto;
}
