.title {
  font-family: var(--font-opensans);
  font-size: clamp(2.4rem, 2vw, 4.8rem);
  font-weight: 600;
  margin-bottom: 2rem;
}

.subtitle {
  font-family: var(--font-opensans);
  font-size: clamp(1.6rem, 1vw, 2.4rem);
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.imagePill {
  border-radius: 50%;
  margin-bottom: 2rem;
}
