.text {
  font-family: var(--font-poppins);
  padding: 0;
  margin: 0;
}

.brandLogo {
  background-image: url("src/assets/img/simple-logo-nobg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: contain;
  width: 120px;
  height: 120px;
}

.brandName {
  font-family: var(--font-poppins);
}

.socials {
  width: 20px;
}

.bgTertiary {
  background-color: var(--tertiary-color);
}

.bgLight {
  background-color: var(--light-color);
}

.link {
  text-decoration: none;
  color: var(--black-color);
  padding: 0.5rem 0;
  cursor: pointer;
}

.link:hover,
.link:active {
  font-weight: 700;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
