.container {
    background-color: var(--orange-300);
    padding: 32px;
    margin: 32px auto;
    border-radius: 7px;
    max-width: 50%;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}