.form {
  padding: 0 1rem 0 1rem;
}

.formTitle {
  font-family: var(--font-poppins);
  font-size: clamp(2rem, 10vw, 2.5rem);
  margin-bottom: 1rem;
  text-align: center;
}

.formLabel {
  font-family: var(--font-poppins);
  font-size: clamp(14px, 1vw, 16px);
  font-weight: 500;
}

.formInput {
  width: 98%;
  border-radius: 4px;
  justify-self: center;
  height: 44px;
  background-color: #f2f2f2;
  border: 0;
  font-family: var(--font-poppins);
}

.formInput:active,
.formInput:focus {
  outline: 0;
  box-shadow: none;
  border: 2px solid var(--main-color);
}

.formCheck {
  font-size: clamp(14px, 3.5vw, 16px) !important ;
  filter: drop-shadow(1px 1px 1px #ababab);
}

.formCheck input:checked {
  outline: 0;
  box-shadow: none;
  background-color: var(--main-color);
  border-color: var(--secondary-color);
}

.formCheck input:focus {
  outline: 0;
  box-shadow: none;
  border-color: var(--main-color);
}

.formSubmitButton {
  border-radius: 4px;
  margin: 0.5rem 0;
  width: 100%;
}

.errorMessage {
  color: red;
  font-size: small;
  margin-left: 5px;
}

.changeFormLink {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
  margin-left: 0.2rem;
  font-weight: 700;
}

.dividerBar {
  position: relative;
  width: 100%;
  height: 40px;
}

.dividerBar div {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  height: 20px;
  width: 100%;
  position: absolute;
  top: 20px;
  z-index: 1;
}

.dividerBar p {
  position: absolute;
  top: 20%;
  left: calc(50% - 5px);
  margin: 0;
  z-index: 2;
  background-color: #fff;
  padding: 0 5px;
}

.accessWithGoogleBtn {
  position: relative;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 0.7rem 0 !important;
  background-color: #f2f2f2;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  font-size: clamp(18px, 2vw, 24px);
  font-family: var(--font-poppins);
}

@media (max-width: 425px) {
  .form {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
