.page-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/img/HomePage-bg-img.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #cccccc;
  z-index: -1;
}

.intro-wrapper {
  width: 100%;
  padding: 90px 0;
  background-color: rgb(255, 251, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-title {
  font-size: 36px;
  color: var(--black-color);
}

.intro-title::after {
  border: 2px solid #000;
}

.intro-text {
  font-size: 18px;
  line-height: 44px;
}

.horizontal-bar {
  display: block;
  height: 10px;
  border-top: 3px solid #000;
  margin-top: 20px;
}

.read-more-btn {
  border: 0;
  background-color: transparent;
  text-align: start;
  font-weight: 700;
  text-transform: uppercase;
}

.truncate {
  overflow-y: clip;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.testimonials-wrapper {
  height: 70vh;
}

.testimonials--img {
  height: 50%;
  overflow: hidden;
  border-bottom: 3px solid var(--white-color);
}

.testimonials--img img {
  width: 100%;
  min-width: 1037px;
}

.testimonials--text {
  height: 50%;
  background-color: var(--black-color);
  color: var(--white-color);
  display: flex;
  gap: 14px;
  padding: 0 10px;
}

.ctrl-btn {
  width: 40px;
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
}

.bi-star-fill,
.bi-star {
  color: var(--secondary-color);
  font-size: 24px;
}

.testimonials-comment {
  font-style: italic;
  font-size: 22px;
  padding: 0 45px;
}

@media (max-width: 1037px) {
  .testimonials--img {
    position: relative;
  }

  .testimonials--img img {
    position: absolute;
    left: calc((100% - 1037px) * 0.5);
  }
}
