.landingWrapper {
  position: relative;
  margin-top: -10px;
  height: calc(100vh - 96px);
  width: 100vw;
  background-image: url("../assets/img/Landing-bg.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  background-color: #cccccc;
}

.introTextWrapper {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 40%;
  height: 100%;
}

.landingTextHeader {
  font-size: clamp(2.4rem, 7vw, 6.4rem);
  font-family: var(--font-poppins);
  font-weight: 300;
  text-wrap: nowrap;
}

.landingTextSubHeader {
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  font-family: var(--font-roboto);
  line-height: 3.5rem;
}

@media (max-width: 768px) {
  .introTextWrapper {
    width: 100%;
    left: 0;
    text-align: center;
    padding: 0 25px;
  }
}
