.landingWrapper {
  position: relative;
  margin-top: -10px;
  height: calc(100vh - 150px);
  width: 100vw;
  background-image: url("https://res.cloudinary.com/dqpq2d0es/image/upload/v1735664056/Landing-bg_n4vaq5.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  background-color: #cccccc;
  overflow: hidden;
}

.introTextWrapper {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 50%;
  height: 100%;
}

.landingTextHeader {
  font-size: 5.6rem;
  font-family: var(--font-poppins);
  font-weight: 300;
  text-wrap: nowrap;
}

.landingTextSubHeader {
  font-size: 1.8rem;
  font-family: var(--font-roboto);
  line-height: 3.5rem;
}

@media (max-width: 768px) {
  .introTextWrapper {
    width: 100%;
    left: 0;
    text-align: center;
    padding: 0 25px;
  }

  .landingTextHeader {
    font-size: 4.8rem;
  }

  .landingTextSubHeader {
    font-size: 1.8rem;
    line-height: 3rem;
  }

}

@media (max-width: 450px) {

  .landingTextHeader {
    font-size: 3rem;
  }

  .landingTextSubHeader {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }

}