nav {
  margin: 0 100px;
  padding: 10px 50px !important;
  border-radius: 36px;
  background-color: #fffbf5;
  filter: drop-shadow(#00000052 0 4px 4px);
}

img {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #000;
  margin-right: 18px;
  font-size: 24px;
}
