.wrapper {
  height: calc(100vh - 100px);
  width: calc(100vw - 20px);
  display: flex;
  margin: 50px 10px;
}

.servicesListWrapper {
  width: 35%;
  background-color: #fbf4ea;
}

.servicesDescription {
  width: 65%;
  background-color: #b1bda5;
}

.active {
  background-color: #b1bda5 !important;
  font-weight: 600;
}

.servicesList {
  height: 100%;
  width: 100%;
  border-radius: 0;
}

.servicesListItem {
  border: 0;
  font-family: var(--font-poppins);
  font-size: 24px;
  cursor: pointer;
  padding: 30px 10px;
  background-color: #fbf4ea;
}

.servicesDescription {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.imageContainer img {
  width: 200%;
}

.servicesDescriptionText {
  font-family: var(--font-poppins);
  font-size: 24px;
  width: 100%;
  padding: 20px 16px;
}

.servicesReadMoreBtn {
  width: 80%;
  font-family: var(--font-poppins);
  font-weight: 600;
  text-decoration: none;
  color: var(--black-color);
}

.servicePlansContainer {
  position: relative;
  transition: 0.2s ease-in-out;
  max-height: 33%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.servicePlansHeader::after {
  content: "Saber más \2192";
  font-size: 36px;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.servicePlansContainer:hover {
  cursor: pointer;
}

.servicePlansContainer:hover .servicePlansHeader::after {
  opacity: 1;
}

.servicePlansHeader {
  width: 100%;
  position: absolute;
  top: calc(50% - 20px);
  margin: 0;
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: clamp(1rem, 4vw, 2.5rem);
  display: flex;
  justify-content: space-around;
}

.planBgContainer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  width: 100% !important;
}

.primerosPasos {
  background-image: url("/src/assets/img/planes/cat-puppy.jpg");
}

.madurando {
  background-image: url("/src/assets/img/planes/dog-madurando.jpg");
}

.adultos {
  background-image: url("/src/assets/img/planes/dog-adultos.jpg");
}

.cirugiaHeader {
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 56px;
  font-weight: 600;
}

.cirugiaText {
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 20px;
  padding: 10px 25px;
}

.clinicaGeneralImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 40%;
}

.clinicaGeneralImageContainer img {
  width: 100%;
}

.clinicaGeneralHeader {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 36px;
  font-weight: 600;
}

.clinicaGeneralText {
  font-family: var(--font-poppins);
  font-size: 20px;
  padding: 10px 25px;
}

.listSpecialities {
  margin: 0 auto;
  width: 100%;
  column-count: 3;
  padding: 0 0 0 60px;
}

.listSpecialities li {
  font-family: var(--font-poppins);
  font-size: 20px;
}

.clinicaGeneralImagePeluqueria {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 60%;
}

.clinicaGeneralImagePeluqueria img {
  width: 100%;
}
