.storeHeader {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

.storeMenuBar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
}

.storeMenuBar>img {
    max-width: 100px;
}


.storeMenuBar:hover {
    background-color: var(--gray-400);
    border-radius: 14px;
}

.productCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23rem;
    padding: 16px 8px;
    border: 1px solid var(--gray-400);
    border-radius: 14px;
    background-color: var(--gray-300);
}

.productCard:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 8px #8b8b8b);
}


.productCardTitle {
    text-align: start;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.productCardSubtitle {
    text-align: start;
    font-size: 1.2rem;
    margin-bottom: 0;
    color: var(--gray-500);
}

.productCardButton {
    width: 100%;
    margin: 0;
    margin-top: 1.5rem;
    font-size: 1.4rem;
}