.taskContainer {
  width: 80%;
  margin: 0 auto;
}

.taskHeader {
  width: 100%;
  text-align: right;
  margin: 1rem 0;
}

.viewButton {
  font-size: 2rem;
}

.taskHeaderDay,
.taskBodyDay {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.taskHeaderWeek,
.taskBodyWeek {
  display: grid;
  grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekdayHeader {
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem 0;
  border: 0.3px solid #e6e2e2;
}

.taskHeaderMonth {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.week {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.dayGrid {
  min-height: 200px;
  border: 0.5px solid #e6e2e2;
}

.dayNumber {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.hourLabel {
  font-size: 2rem;
  text-align: right;
  vertical-align: bottom;
  padding: 1rem 0;
  padding-right: 1rem;
  font-weight: 300;
  min-height: 90px;
}

.hourTasks {
  text-align: left;
  padding: 1rem 0;
  border: 0.3px solid #e6e2e2;
}

.inactiveDay {
  color: rgb(196, 196, 196);
}

.taskWeekDates {
  text-align: center;
  margin: 1.5rem 0;
}
